<h1 align = "center">Listing all the articles</h1>
<div class = "row">
    <div class = "col-xs-8 col-xs-offset-2">
        <% @articles.each do |article| %>
            <div class = "well well-lg well-extende">
                <h4 class = "article-title"><%= link_to article.title, article_path(article) %></h4>
                <div class = "article-body"><%= truncate(article.description, length: 100) %></div>
                <div class = "article_actions">
                    <div class="btn-group" role="group" aria-label="...">
                        <%= link_to "Edit", edit_article_path(article), class: "btn btn-default btn-xs" %>
                        <%= link_to "Delete", article_path(article), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default btn-xs" %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>


