<div class = "center jumbotron">
        <h1>Alpha<br>Blog</h1>
        <div class="btn-group" role="group" aria-label="...">
                <%= link_to "SignUp", signup_path , class: "btn  btn-primary btn-xlarge" %>
                <%= link_to " Login", login_path , class: "btn  btn-primary btn-xlarge" %>
        </div>
</div>