<DOCTYPEhtml>
<html>
    <head>
        <title>AphaBlog</title>
        <%= stylesheet_link_tag "home" %>
    </head>
    <body>
        <div id="header">
            <h1>AphaBlog</h1>
        </div>
        <div class="container">
            <p>fdjfhfhjrewhfliwhfliowhfiwofwfowhfiohwfio
            fdjfhfhjrewhfliwhfliowhfiwofwfowhfiohwfio
            fdjfhfhjrewhfliwhfliowhfiwofwfowhfiohwfio
            fdjfhfhjrewhfliwhfliowhfiwofwfowhfiohwfio
            fdjfhfhjrewhfliwhfliowhfiwofwfowhfiohwfio
            fdjfhfhjrewhfliwhfliowhfiwofwfowhfiohwfio
            fdjfhfhjrewhfliwhfliowhfiwofwfowhfiohwfio
            fdjfhfhjrewhfliwhfliowhfiwofwfowhfiohwfio
            fdjfhfhjrewhfliwhfliowhfiwofwfowhfiohwfio</p>
        </div>
        <div class="container">
            <p>fdjfhfhjrewhfliwhfliowhfiwofwfowhfiohwfio
            fdjfhfhjrewhfliwhfliowhfiwofwfowhfiohwfio
            fdjfhfhjrewhfliwhfliowhfiwofwfowhfiohwfio
            fdjfhfhjrewhfliwhfliowhfiwofwfowhfiohwfio
            fdjfhfhjrewhfliwhfliowhfiwofwfowhfiohwfio
            fdjfhfhjrewhfliwhfliowhfiwofwfowhfiohwfio
            fdjfhfhjrewhfliwhfliowhfiwofwfowhfiohwfio
            fdjfhfhjrewhfliwhfliowhfiwofwfowhfiohwfio
            fdjfhfhjrewhfliwhfliowhfiwofwfowhfiohwfio</p>
        </div>
        <div id="footer">
            <ul>
                <li>HOME</li>
                <li><%= link_to 'about', about_path %></li>
                <li>CONTACT</li>
            </ul>
        </div>
    </body>
</html>